[Unit]
Description=Autocorrector is a tool similar to Autokey or AutoHotKey, but targeted mainly at word replacements.
Documentation=https://github.com/joshuar/autocorrector/blob/master/README.md

[Service]
Type=exec
RemainAfterExit=yes
Restart=on-abnormal
PrivateNetwork=yes
ExecStart=/usr/local/bin/autocorrector --user %i

[Install]
WantedBy=graphical.target