[Unit]
Description=Autocorrector Service
Requires=plasma-plasmashell.service
After=plasma-plasmashell.service

[Service]
Type=exec
RemainAfterExit=yes
ExecStart=%h/gocode/bin/autocorrector client --profile

[Install]
WantedBy=default.target
