[Unit]
Description=Autocorrector Service
After=syslog.target

[Service]
Type=exec
RemainAfterExit=yes
ExecStart=%h/gocode/bin/autocorrector client

[Install]
WantedBy=default.target