[Desktop Entry]
Type=Application
Name=Autocorrector
Comment=Autocorrector corrects typos for you
Exec=/usr/bin/autocorrector client
Icon=/usr/local/share/pixmaps/autocorrector.png
Terminal=false