[Desktop Entry]
Type=Application
Version=1.0
Name=Autocorrector
Comment=Autocorrector corrects typos for you
Path=/usr/bin
Exec=autocorrector client
Icon=autocorrector
Terminal=false
Categories=System;Monitor;TrayIcon;
OnlyShowIn=GNOME;Xfce;KDE;
